<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">Data Tables</h4>
      <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Tables</a></li>
          <li class="active">Data Table</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

              <div class="col-sm-12">
                <div class="white-box">
                    <h3>Data Table</h3>
                    <div class="row">
                      <div class="col-md-4 text-center">
                        <button *ngIf="false" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="userId">Proveedores</label>
                        <select name="userId" class="form-control" id="userId" [(ngModel)]="userId" (click)="cargarAll();cargarComboChild()">
                          <option value=""></option>
                          <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.firstname!=null)?data.firstname+' ':'')+((data.lastname!=null)?data.lastname:'')}}</option>
                        </select>
                      </div>
                      <div class="col-md-3 col-xs-offset-2">
                          <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                        </div>

                    </div>
                    <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                             [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width:15%;">
                                    <mfDefaultSorter by="products.name">Producto</mfDefaultSorter></th>
                                <th style="width:15%;">
                                    <mfDefaultSorter by="created">Fecha</mfDefaultSorter></th>
                                <th style="width:10%;">
                                    <mfDefaultSorter by="ern">ERN</mfDefaultSorter></th>
                                <th style="width:10%;">
                                    <mfDefaultSorter by="comment">Comentario</mfDefaultSorter></th>
                                <th style="width:10%;">
                                    <mfDefaultSorter by="unit_price">Precio</mfDefaultSorter></th>
                                <th style="width:10%;">
                                    <mfDefaultSorter by="quantity">Cantidad</mfDefaultSorter></th>
                                <th style="width:10%;">
                                    <mfDefaultSorter by="state">Estado</mfDefaultSorter></th>
                                <th style="width:15%;">
                                    <mfDefaultSorter by="total">Total</mfDefaultSorter></th>

                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                              <td>{{((data.products.name!=null)?data.products.name:'')}}</td>
                              <td>{{((data.created!=null)?data.created:'')}}</td>
                              <td>{{((data.ern!=null)?data.ern:'')}}</td>
                              <td>{{((data.comment!=null)?data.comment:'')}}</td>
                              <td>{{((data.unit_price!=null)?data.unit_price:'')}}</td>
                              <td>{{((data.quantity!=null)?data.quantity:'')}}</td>
                              <td>{{((data.state!=null)?(data.state==1?'Pagado':(data.state==2?'Enviado':(data.state==3?'Pendiente de Pago':(data.state==0?'Cancelado':'')))):'')}}</td>
                              <td>{{((data.total!=null)?data.total:'')}}</td>
                                <td>

                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-eye"></i> Ver</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Cancelar</button>

                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>

<div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Detalle</h4>
          </div>
          <div class="modal-body" *ngIf="selectedData">
              <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                   <div *ngIf="selectedData.products.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                      <img src="{{selectedData.products.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
                   </div>

                    <div class="form-group col-xs-12 m-b-15">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required disabled
                                ngModel #name="ngModel" placeholder="name" [(ngModel)]="selectedData.products.name">
                          <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="name.errors.required">
                                  El Nombre es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="description">Descripcion</label>
                        <input type="text" class="form-control" id="description" name="description" required disabled
                                ngModel #description="ngModel" placeholder="description" [(ngModel)]="selectedData.products.description">
                          <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="description.errors.required">
                                  La descripcion es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" required disabled
                                ngModel #price="ngModel" placeholder="price"  [(ngModel)]="selectedData.unit_price">
                          <div *ngIf="price.invalid && (price.dirty || price.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="price.errors.required">
                                  La Precio es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="ern">No. Comprobante</label>
                        <input type="number" class="form-control" id="ern" name="ern"
                                ngModel #ern="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.ern" readonly>
                          <div *ngIf="ern.invalid && (ern.dirty || ern.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="ern.errors.required">
                                  La Cantidad es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="quantity">Cantidad</label>
                        <input type="number" class="form-control" id="quantity" name="quantity"
                                ngModel #quantity="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.quantity" readonly>
                          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="quantity.errors.required">
                                  La Cantidad es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="comment">Comentario</label>
                        <input type="text" class="form-control" id="comment" name="comment"
                                ngModel #comment="ngModel" placeholder="Comentario" [(ngModel)]="selectedData.comment" readonly>
                          <div *ngIf="comment.invalid && (comment.dirty || comment.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="comment.errors.required">
                                  La Comentario es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                      <label for="comprobante">Numero de Autorizacion</label>
                      <input type="text" class="form-control" id="comprobante" name="comprobante"
                              ngModel #comprobante="ngModel" placeholder="Cantidad" [(ngModel)]="selectedData.aprobacion" readonly>
                        <div *ngIf="comprobante.invalid && (comprobante.dirty || comprobante.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="comprobante.errors.required">
                                La Cantidad es invalido
                            </small>
                        </div>
                  </div>

                  <div class="form-group col-xs-6 m-b-6">
                      <label for="fecha">Fecha y hora de Autorizacion</label>
                      <input type="text" class="form-control" id="fecha" name="fecha"
                              ngModel #fecha="ngModel" placeholder="Comentario" [(ngModel)]="selectedData.fecha" readonly>
                        <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="fecha.errors.required">
                                La Comentario es invalido
                            </small>
                        </div>
                  </div>

                    <input type="hidden" class="form-control" id="user_created" name="user_created" required disabled
                            ngModel #user_created="ngModel" [(ngModel)]="selectedData.user_created">
                    <input type="hidden" class="form-control" id="id" name="id" required
                            ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                  <div class="form-group col-xs-12 text-right m-b-15">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cerrar</button>
                      <!-- <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button> -->
                  </div>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>



</div>

<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
