<div class="row bg-title">
  <div class="col-lg-12">
      <h4 class="page-title">Data Tables</h4>
      <ol class="breadcrumb">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Tables</a></li>
          <li class="active">Data Table</li>
      </ol>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="card mb-3">
  <div class="card-body">

      <div class="table-responsive">
          <div class="box-body">

              <div class="col-sm-12">
                <div class="white-box">
                    <h3>Data Table</h3>
                    <div class="row">
                      <div class="col-md-4 text-center">
                        <button type="button" *ngIf="userId" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                      </div>
                      <div class="col-md-3 form-group">
                        <label for="userId">Proveedores</label>
                        <select name="userId" class="form-control" id="userId" [(ngModel)]="userId" (click)="cargarAll();">
                          <option value=""></option>
                          <option *ngFor="let data of comboParent" value="{{data.id}}">{{((data.firstname!=null)?data.firstname+' ':'')+((data.lastname!=null)?data.lastname:'')}}</option>
                        </select>
                      </div>
                      <div class="col-md-3 col-xs-offset-2">
                          <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                        </div>

                    </div>
                    <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                             [mfRowsOnPage]="rowsOnPage">
                        <thead>
                            <tr>
                                <th style="width:30%;">
                                    <mfDefaultSorter by="description">Descripcion</mfDefaultSorter></th>
                                <th style="width:25%;">
                                    <mfDefaultSorter by="address">Direccion</mfDefaultSorter></th>
                                <th style="width:25%;">
                                    <mfDefaultSorter by="date">Fecha</mfDefaultSorter></th>

                                <th style="width:20%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of mf.data">
                              <td>{{((data.description!=null)?data.description:'')}}</td>
                              <td>{{((data.address!=null)?data.address:'')}}</td>
                              <td>{{((data.date!=null)?data.date:'')}}</td>
                                <td>

                                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                  <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                              <td colspan="5">
                                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                              </td>
                          </tr>
                          </tfoot>
                    </table>
                </div>
            </div>

          </div>
      </div>
  </div>
  <div class="card-footer small text-muted">
      Updated yesterday at 11:59 PM
  </div>
</div>
<simple-notifications [options]="options"></simple-notifications>


<div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ingreso de datos</h4>
            </div>
            <div class="modal-body">
                <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                  <div class="form-group col-xs-12 m-b-15">
                    <label for="address">Direccion</label>
                    <input type="text" class="form-control" id="address" name="address" required
                            ngModel #address="ngModel" placeholder="address">
                      <div *ngIf="address.invalid && (address.dirty || address.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="address.errors.required">
                              El Direccion es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-12 m-b-15">
                    <label for="description">Descripcion</label>
                    <input type="text" class="form-control" id="description" name="description" required
                            ngModel #description="ngModel" placeholder="description">
                      <div *ngIf="description.invalid && (description.dirty || description.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="description.errors.required">
                              La descripcion es invalido
                          </small>
                      </div>
                </div>

                <div class="form-group col-xs-6 m-b-6">
                    <label for="date">Fecha</label>
                    <input type="date" class="form-control" id="date" name="date" required
                            ngModel #date="ngModel" placeholder="date" [(ngModel)]="beginDate">
                      <div *ngIf="date.invalid && (date.dirty || date.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="date.errors.required">
                              La Fecha es invalido
                          </small>
                      </div>
                </div>

                <div class="form-group col-xs-6 m-b-6">
                    <label for="time">Hora</label>
                    <input type="time" class="form-control" id="time" name="time" required
                            ngModel #time="ngModel" placeholder="time" [(ngModel)]="endDate">
                      <div *ngIf="time.invalid && (time.dirty || time.touched)"
                            class="alert alert-danger" role="alert">
                          <small *ngIf="time.errors.required">
                              La Hora es invalido
                          </small>
                      </div>
                </div>
                <div class="form-group col-xs-12 m-b-6">
                  <ng2-map
                    zoom="18"
                    center="14.66430813990437, -90.51446914672852"
                    (mapClick)="onMapClick($event)"
                    mapTypeId="roadmap">
                      <marker [position]="positions"
                        (initialized$)="onMarkerInit($event)"></marker>
                  </ng2-map>
                </div>

                <input type="hidden" class="form-control" id="latitude" name="latitude" required
                            ngModel #latitude="ngModel" [(ngModel)]="lat">
                <input type="hidden" class="form-control" id="longitude" name="longitude" required
                            ngModel #longitude="ngModel" [(ngModel)]="lng">
                <input type="hidden" class="form-control" id="user_created" name="user_created" required
                            ngModel #user_created="ngModel" [(ngModel)]="userId">

                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

<div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title">Edicion de datos</h4>
          </div>
          <div class="modal-body" *ngIf="selectedData">
              <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                   <div *ngIf="selectedData.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                      <img src="{{selectedData.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
                </div>

                <div class="form-group col-xs-6 col-xs-offset-4">
                  <input type="file" id="avatar" (change)="subirImagenes($event,EditForm.value,'avatar')"/>
                  <progress value="0" max="100" id="barra_de_progreso"></progress>
              </div>
                  <div class="form-group col-xs-12 m-b-15">
                        <label for="address">Direccion</label>
                        <input type="text" class="form-control" id="address" name="address" required
                                ngModel #address="ngModel" placeholder="address" [(ngModel)]="selectedData.address">
                          <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="address.errors.required">
                                  El Direccion es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-15">
                        <label for="description">Descripcion</label>
                        <input type="text" class="form-control" id="description" name="description" required
                                ngModel #description="ngModel" placeholder="description" [(ngModel)]="selectedData.description">
                          <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="description.errors.required">
                                  La descripcion es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="date">Fecha</label>
                        <input type="date" class="form-control" id="date" name="date" required
                                ngModel #date="ngModel" placeholder="date" [(ngModel)]="selectedData.date">
                          <div *ngIf="date.invalid && (date.dirty || date.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="date.errors.required">
                                  La Fecha es invalido
                              </small>
                          </div>
                    </div>

                    <div class="form-group col-xs-6 m-b-6">
                        <label for="time">Hora</label>
                        <input type="time" class="form-control" id="time" name="time" required
                                ngModel #time="ngModel" placeholder="time" [(ngModel)]="selectedData.time">
                          <div *ngIf="time.invalid && (time.dirty || time.touched)"
                                class="alert alert-danger" role="alert">
                              <small *ngIf="time.errors.required">
                                  La Hora es invalido
                              </small>
                          </div>
                    </div>
                    <div class="form-group col-xs-12 m-b-6">
                      <ng2-map
                        zoom="13"
                        center="{{selectedData.latitude}}, {{selectedData.longitude}}"
                        mapTypeId="roadmap">
                          <marker [position]="positions"></marker>
                      </ng2-map>
                    </div>
                    <input type="hidden" class="form-control" id="user_created" name="user_created" required
                            ngModel #user_created="ngModel" [(ngModel)]="selectedData.user_created">
                    <input type="hidden" class="form-control" id="id" name="id" required
                            ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                  <div class="form-group col-xs-12 text-right m-b-15">
                      <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                      <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                  </div>
              </form>

          </div>
          <div class="modal-footer" style="border:none;">

          </div>
      </div>
  </div>



</div>

<div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;">
  <app-loader></app-loader>
      </div>
    </div>
  </div>
