<div class="row bg-title">
    <div class="col-lg-12">
        <h4 class="page-title">Data Tables</h4>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data Table</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <div class="card mb-3">
    <div class="card-body">

        <div class="table-responsive">
            <div class="box-body">

                <div class="col-sm-12">
                  <div class="white-box">
                      <h3>Data Table</h3>
                      <div class="row">
                        <div class="col-md-4 text-center">
                          <button *ngIf="userId" type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;" (click)="darValor()"><i class="fa fa-plus"></i>Agregar Nuevo</button>
                        </div>
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3 col-xs-offset-2">
                            <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                          </div>

                      </div>
                      <table class="table table-hover table-responsive" [mfData]="Table | filter : search" #mf="mfDataTable"
                               [mfRowsOnPage]="rowsOnPage">
                          <thead>
                              <tr>
                                  <th style="width:25%;">
                                      <mfDefaultSorter by="name">Nombre</mfDefaultSorter></th>
                                  <th style="width:25%;">
                                      <mfDefaultSorter by="description">Descripcion</mfDefaultSorter></th>
                                  <th style="width:15%;">
                                      <mfDefaultSorter by="price">Precio</mfDefaultSorter></th>
                                  <th style="width:20%;">
                                      <mfDefaultSorter by="categorys.name">Categoria</mfDefaultSorter></th>

                                  <th style="width:25%;"></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let data of mf.data">
                                <td>{{((data.name!=null)?data.name:'')}}</td>
                                <td>{{((data.description!=null)?data.description:'')}}</td>
                                <td>{{((data.price!=null)?data.price:'')}}</td>
                                <td>{{((data.categorys.name!=null)?data.categorys.name:'')}}</td>
                                  <td>

                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                                    <button type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                                  </td>
                              </tr>

                          </tbody>
                          <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            </tfoot>
                      </table>
                  </div>
              </div>

            </div>
        </div>
    </div>
    <div class="card-footer small text-muted">
        Updated yesterday at 11:59 PM
    </div>
  </div>
  <simple-notifications [options]="options"></simple-notifications>


  <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">Ingreso de datos</h4>
              </div>
              <div class="modal-body">
                  <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                    <div class="form-group col-xs-12 m-b-15">
                      <label for="name">Nombre</label>
                      <input type="text" class="form-control" id="name" name="name" required
                              ngModel #name="ngModel" placeholder="name">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="name.errors.required">
                                El Nombre es invalido
                            </small>
                        </div>
                  </div>
                  <div class="form-group col-xs-12 m-b-15">
                      <label for="description">Descripcion</label>
                      <input type="text" class="form-control" id="description" name="description"
                              ngModel #description="ngModel" placeholder="description">
                  </div>

                  <div class="form-group col-xs-6 m-b-6">
                      <label for="price">Precio</label>
                      <input type="number" class="form-control" id="price" name="price" required
                              ngModel #price="ngModel" placeholder="price">
                        <div *ngIf="price.invalid && (price.dirty || price.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="price.errors.required">
                                El Precio es invalido
                            </small>
                        </div>
                  </div>

                  <div class="form-group col-xs-6 m-b-6">
                      <label for="category">Categoria</label>
                      <select  class="form-control" id="category" name="category" required
                              ngModel #category="ngModel">
                              <option value=""></option>
                              <option *ngFor="let data of comboChild" value="{{data.id}}">{{data.name}}</option>
                      </select>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)"
                              class="alert alert-danger" role="alert">
                            <small *ngIf="category.errors.required">
                                La Categoria es invalido
                            </small>
                        </div>
                  </div>
                  <input type="hidden" class="form-control" id="user_created" name="user_created" required
                              ngModel #user_created="ngModel" [(ngModel)]="userId">

                      <div class="form-group col-xs-12 text-right m-b-15">
                          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                          <button type="submit" class="btn btn-success" [disabled]="name.value=='' || price.value==''"><i class="fa fa-save"></i> Guardar</button>
                      </div>
                  </form>

              </div>
              <div class="modal-footer" style="border:none;">

              </div>
          </div>
      </div>



    </div>

  <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edicion de datos</h4>
            </div>
            <div class="modal-body" *ngIf="selectedData">
                <form id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                     <div *ngIf="selectedData.picture!=null" class="form-group col-xs-6 col-xs-offset-3">
                        <img src="{{selectedData.picture}}" id="imgAvatar" alt="Avatar" style="width:100%;">
                  </div>

                  <div class="form-group col-xs-6 col-xs-offset-4">
                    <input type="file" id="avatar" (change)="subirImagenes($event,EditForm.value,'avatar')"/>
                    <progress value="0" max="100" id="barra_de_progreso"></progress>
                </div>

                      <div class="form-group col-xs-12 m-b-15">
                          <label for="name">Nombre</label>
                          <input type="text" class="form-control" id="name" name="name" required
                                  ngModel #name="ngModel" placeholder="name" [(ngModel)]="selectedData.name">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="name.errors.required">
                                    El Nombre es invalido
                                </small>
                            </div>
                      </div>
                      <div class="form-group col-xs-12 m-b-15">
                          <label for="description">Descripcion</label>
                          <input type="text" class="form-control" id="description" name="description" required
                                  ngModel #description="ngModel" placeholder="description" [(ngModel)]="selectedData.description">
                            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="description.errors.required">
                                    La descripcion es invalido
                                </small>
                            </div>
                      </div>

                      <div class="form-group col-xs-6 m-b-6">
                          <label for="price">Precio</label>
                          <input type="number" class="form-control" id="price" name="price" required
                                  ngModel #price="ngModel" placeholder="price"  [(ngModel)]="selectedData.price">
                            <div *ngIf="price.invalid && (price.dirty || price.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="price.errors.required">
                                    La Precio es invalido
                                </small>
                            </div>
                      </div>

                      <div class="form-group col-xs-6 m-b-6">
                          <label for="category">Categoria</label>
                          <select  class="form-control" id="category" name="category" required
                                  ngModel #category="ngModel" [(ngModel)]="selectedData.category">
                                  <option value=""></option>
                                  <option *ngFor="let data of comboChild" value="{{data.id}}">{{data.name}}</option>
                          </select>
                            <div *ngIf="category.invalid && (category.dirty || category.touched)"
                                  class="alert alert-danger" role="alert">
                                <small *ngIf="category.errors.required">
                                    La Categoria es invalido
                                </small>
                            </div>
                      </div>

                      <input type="hidden" class="form-control" id="user_created" name="user_created" required
                              ngModel #user_created="ngModel" [(ngModel)]="selectedData.user_created">
                      <input type="hidden" class="form-control" id="id" name="id" required
                              ngModel #id="ngModel" [(ngModel)]="selectedData.id">

                    <div class="form-group col-xs-12 text-right m-b-15">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close" ></i> Cancel</button>
                        <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer" style="border:none;">

            </div>
        </div>
    </div>



  </div>

  <div class="modal fade" id="Loading">
      <div class="modal-dialog">
        <div class="text-center" style="margin-top:50%;">
    <app-loader></app-loader>
        </div>
      </div>
    </div>
