
<section id="wrapper" class="login-register">
  <div class="login-box">
      <div class="white-box">
            <form id="insert-form"  #insertForm="ngForm" (ngSubmit)="insert(insertForm.value)" class="form-horizontal m-t-20" >
              <div class="form-group ">
                  <div class="col-xs-12">
                      <h3>Recuperacion de contraseña</h3>
                      <p class="text-muted">Se le enviara un correo electronico con una nueva contraseña para que pueda ingresar.</p>
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" required id="username" name="username"
                      ngModel #username="ngModel" placeholder="Usuario">
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" required id="email" name="email"
                      ngModel #email="ngModel" placeholder="Email">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input class="form-control" type="password" required id="password" name="password"
                      ngModel #password="ngModel" placeholder="Password">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input class="form-control" type="password" required id="password_repeat" name="password_repeat"
                      ngModel #password_repeat="ngModel" placeholder="Confirm Password">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" required id="usuario" name="usuario"
                      ngModel #usuario="ngModel" placeholder="Usuario Proveedor">
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <div class="checkbox checkbox-primary">
                          <input id="checkbox-signup" type="checkbox" required>
                          <label for="checkbox-signup"> By clicking Sign Up, you agree to our <a href="#">Terms</a> </label>
                      </div>
                  </div>
              </div>
              <div class="form-group text-center m-t-40">
                  <div class="col-xs-12">
                      <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrar</button>
                  </div>
              </div>
              <div class="form-group m-t-30 m-b-0">
                  <div class="col-sm-12 text-center">
                      <p>Ya tienes una cuenta? Por favor ve a <a [routerLink]="[ './../login' ]" class="text-primary m-l-5"><b>Ingresar</b></a></p>
                  </div>
              </div>
              <simple-notifications [options]="options"></simple-notifications>
              <div class="toast" id="toast"></div>

          </form>
      </div>
      <footer class="footer text-center">

          2017 © FoxyLabs.
      </footer>
  </div>
</section>


<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;">
<loaders-css [loader]="'line-scale'" [loaderClass]="'loader1'" ></loaders-css>


    </div>
  </div>
</div>




